.modal {
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 0;
    transform: scale(0.9);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center; 
    z-index: 1000;
}

.modal.show {
    opacity: 1;
    transform: scale(1);
}

.svg-zoom {
    transform: scale(1.1);
}

.image-container {
    overflow: hidden; 
    position: relative;
}

.image-zoom {
    transition: transform 0.6s ease; 
    width: 100%;
    height: auto;
}
  
.image-container:hover .image-zoom {
    transform: scale(1.05);
}

  